.rightBar{
    flex:4;
}

.rightBarWrapper{
padding: 20px 20px 0 0 ;
}

.birthDayImg{
    width:40px;
    height:40px;
    margin-right:10px;
}
.birthDayText{
    font-weight:300;
    font-size:15px;
}

.rightBarFriendList{
    padding:0;
    margin:0;
    list-style: none;
}

.rightBarFriend{
    display:flex;
    align-items: center;
    margin-bottom: 10px;
}

.rightBarProfileImgContainer{
    margin-right:10px;
    position:relative;
}

.rightBarProfileImg{
    width:40px;
    height:40px;
    border-radius:50%;
    object-fit:cover;
}

.rightBarOnline{
    width: 10px;
    height: 10px;
    background-color: limegreen;
    position:absolute;
    top:0px;
    right:0px;
    border-radius: 50%;
    border: 2px solid white;
}

.rightBarUsername{
font-weight: 500;    
}